@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.button__container {
  padding: 10px 0;
  background: $purple;
  width: 100%;
  border-radius: 6px;
  transition: 0.5s;

  &:hover {
    background: $hover-btn;
  }
}