@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.about {
  border-left: 2px dashed $purple;
  border-bottom: 2px dashed $purple;
  // border-bottom-left-radius: 50px;
  display: flex;
  padding: 2rem 0.7rem;
  // align-items: center;
  gap: 2rem;

  .about__img-wrapper {
    max-width: 450px;
    min-width: 350px;
    // min-width: 430px;
    flex: 1;

    @include tablets {
      max-width: 350px;
      min-width: 250px;
    }
  }

  .about__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    text-align: justify;
  }

  .about__title {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 1rem;

    @include laptop {
      text-align: center;
      font-size: 2.3rem;
    }

    @include tablets-min {
      font-size: 1.9rem;
    }
  }

  .about__subtitle {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 0.85rem;

    @include laptop {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    @include tablets-min {
      font-size: 0.95rem;
    }
  }

  .about__tabs {
    display: flex;
    gap: 30px;
    margin-bottom: 1.7rem;

    @include tablets-min {
      margin-bottom: 1rem;
    }
  }

  .about__text {
    max-width: 23rem;
    justify-content: flex-start;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    @include tablets-min {
      gap: 0.7rem;
    }
  }

  .about__text-item {
    font-weight: 100;
    font-size: 0.9rem;
    color: $green;
  }

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}
