@import '../../index.scss';

.contacts {
  display: flex;
  padding: 2rem 0;
  gap: 2rem;

  .contacts__wrapper {
    flex: 1;
  }

  .contacts__title {
    margin-bottom: 1.3rem;
    font-weight: bold;
    font-size: 1.4rem;
  }

  .contacts__text {
    margin-bottom: 1.3rem;
    font-size: 0.9rem;
    color: $grey;
  }

  .contacts__list {
    display: flex;
    list-style: none;
    gap: 10px;
  }

  .contacts__item {
    width: 2.5rem;
  }

  @include tablets-min {
    flex-direction: column;
  }
}