@import '../../index.scss';

.contacts {
  border-left: 2px dashed $purple;
  border-bottom: 2px dashed $purple;
  display: flex;
  padding: 2rem 0.7rem;
  gap: 2rem;

  .contacts__wrapper {
    flex: 1;
  }

  .contacts__title {
    margin-bottom: 1.3rem;
    font-weight: bold;
    font-size: 1.4rem;
  }

  .contacts__text {
    margin-bottom: 1.3rem;
    font-size: 0.9rem;
    color: $grey;
  }

  .contacts__list {
    display: flex;
    list-style: none;
    gap: 10px;
  }

  .contacts__item {
    width: 2.5rem;
    transition: 0.5s;

    &:hover {
      transform: scale(1.4) rotate(360deg);
    }
  }

  @include tablets-min {
    flex-direction: column;
  }
}