@import './mixins.scss';

@font-face {
  font-family: 'shentox';
  src: url('../Shentox.ttf');
}

body {
  margin: 0;
  font-family: 'shentox';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $dark;
  color: $white;
  font-size: 16px;

  @include laptop {
    font-size: 15px;
  }
}


body.navbar__wrapper.active {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 6px;              
}

body::-webkit-scrollbar-track {
  background: $dark;       
}

body::-webkit-scrollbar-thumb {
  background-color: $purple;   
  border-radius: 20px;      
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 3rem 2.75rem;

  @include tablets {
  padding: 3rem 2.3rem;
  }

  @include phones {
    padding: 3rem 1.3rem;
  }
}

// 1310px
//1024px