//Fonts
$font-main: "IBM Plex Mono", sans-serif;

//Colors
$dark: #121212;
$purple: rgb(14, 104, 19);
$grey: grey;
$white: white;
$green: rgb(32, 182, 32);
$hover-btn: rgb(202, 43, 75);

//Breakpoints
$laptop: 960px;
$tablets: 760px;
$tablets-min: 650px;
$phones: 480px