//Fonts
$font-main: "IBM Plex Mono", sans-serif;

//Colors
$dark: #121212;
$purple: green;
$grey: grey;
$white: white;
$green: rgb(32, 182, 32);

//Breakpoints
$laptop: 960px;
$tablets: 760px;
$tablets-min: 650px;
$phones: 480px