@import '../../index.scss';

.project__wrapper {
  width: 33%;
  border-radius: 10px;
  background: rgba(53, 52, 52, 0.2);

  .project__img-container {
    margin-bottom: 0.2rem;
    position: relative;
  }

  .project__img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .project__title {
    padding-left: 0.3rem;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }

  .project__description {
    text-align: justify;
    color: $grey;
    padding: 0 1rem 1rem 0.3rem ;
  }
  
  @include laptop {
    width: 48%;
  }

  @include tablets-min {
    width: 100%;
  }

  .overlay {
    opacity: 0;
    position: absolute;
    background-color: rgba(42, 42, 42, 0.786);
    backdrop-filter: (50px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .link {
      width: 20%;
    }

    &:hover {
      opacity: 1;

    }
  }


}