@import '../../index.scss';

.project__wrapper {
  width: 30%;
  border-radius: 10px;
  background: rgba(53, 52, 52, 0.2);

  .project__img-container {
    margin-bottom: 0.2rem;
  }

  .project__img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .project__title {
    padding-left: 0.3rem;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }

  .project__description {
    text-align: justify;
    color: $grey;
    padding: 0 1rem 1rem 0.3rem ;
  }
  
  @include phones {
    width: 100%;
  }
}