@import '../../index.scss';

.projects {
  padding: 2.5rem 0;

  .projects__title {
    text-align: center;
    margin-bottom: 1.8rem;
    font-weight: bold;
    font-size: 2rem;

    @include tablets-min {
      font-size: 1.7rem;
    }
  }


  .projects__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.4rem;
    justify-content: space-between;

    @include laptop {
      justify-content: center;
      gap: 1rem;
    }

    @include tablets-min {
      row-gap: 1.6rem;
    }
}
}