@import '../../index.scss';

.tab__button {
  font-weight: bold;

  .tab__button-text {

  }

  .tab__button-footer {
    width: 0;
  }

  .tab__button-footer.active {
    width: 100%;
    border-bottom: 5px solid $purple;
    border-radius: 1px;
  }

}