@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.tab__button {
  font-size: 1.05rem;
  font-weight: bold;

  .tab__button-text {
  }

  .tab__button-footer {
    width: 0;
    transition: 0.4s;
  }

  .tab__button-footer.active {
    width: 100%;
    border-bottom: 3px solid $purple;
    border-radius: 1px;
  }

}