@import '../../styles/vars.scss';

.navbar__wrapper {
  width: 100%;
  position: fixed;
  background: $purple ;
  padding: 1rem 2.75rem;
  z-index: 1;
  top: 0;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  .logo__img {
    width: 2.2rem;
    fill: white;
  }

  .logo__text {
    font-size: 1.4rem;
    font-weight: 400;
    transform: scale(1, 1.5)
  }

  .nav__links {
    display: flex;
    gap: 20px;
  }

  .nav__link {
    cursor: pointer;
    color: $white;

  }
}

