.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .form__input__label {
    margin-bottom: 6px;
  }

  .form__input {
    border-radius: 6px;
    padding: 10px 10px 10px 5px;
    border: 1px solid rgba(130, 126, 126, 0.451);
    background: rgba(128, 128, 128, 0.068);
    color: white;
    font-family: "IBM Plex Mono";
  }

  .textarea {
    border-radius: 6px;
    border: 1px solid rgba(130, 126, 126, 0.451);
    background: rgba(128, 128, 128, 0.068);
    color: white;
    font-family: "IBM Plex Mono";
    max-width: 506px;
    max-height: 10rem;
  }
}